.leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.user{
    font-size: large;
    font-weight: bold;
    margin: 0.3rem;
}

.header{

}

.leader-item{
    margin-bottom: 2rem;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: lightblue;
    border-radius: 4rem;
    width: 50%;
}