.image-container {
    align-items: center;
    display: flex;
    justify-content: center;

}

img {
    min-width: 20rem;
    min-height: 20rem;
    max-width: 20rem;
    max-height: 20rem;
    margin:0.5rem;
}